#event-h1 {

}

#block {
	/*border-radius: 25px;
	border: 3px solid black;*/
	padding: 50px;
}

#satisfaction-h1 {
	
}

#interaction-h1 {
	
}

#overall-h1 {
	margin-top: 70px;
}

#dwell-h1 {
}

#number-h1 {
	
}

#customer-h1 {
	
}

@media (min-width: 860px) {
   .collapse {
       display: none !important;
   }
}

#event-border {
/*    border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
	padding: 14px;
}

#satisfaction-border {
	/*border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
}

#dwell-border {
/*	border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
}

#number-border {
	/*border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
}

#customer-border {
	/*border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
}

#background-color {
	background: #e1bee7;
	background: -webkit-linear-gradient(#e1bee7, #f8bbd0, #ffccbc);
	background: -o-linear-gradient(#e1bee7, #f8bbd0, #ffccbc); 
	background: -moz-linear-gradient(#e1bee7, #f8bbd0, #ffccbc); 
	background: linear-gradient(#e1bee7, #f8bbd0, #ffccbc); 
;
}



#interaction-border {
	/*border-radius: 25px;
	border: 3px solid black;
	padding: 10px;*/
}

.label {
	background-color: #00e676;
}

.label-yellow {
	background-color: #f0ff00;
}


#progress-ligr {
	background-color: #00e676
}























